<?xml version="1.0"?>
<model>
  <name>sim_room</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>kkom</name>
    <email>cdioe88@hanyang.ac.kr</email>
  </author>

  <description>
    A simulation room environment for fwis_simulation.
  </description>
</model>